@font-face {
  font-family: 'Pokemon';
  src: url("/static/fonts/PokemonSolid.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/Roboto-Regular.ttf"); }

/* line 13, static_main/pokenary/main.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto';
  line-height: 0; }

/* line 19, static_main/pokenary/main.scss */
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #2f2235;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 'header' 'content'; }

/* line 4, static_main/pokenary/base.scss */
.base__header {
  width: 100%;
  height: 5rem;
  background-color: #2f2235;
  padding: 0.25rem 1rem;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

/* line 15, static_main/pokenary/base.scss */
.base__logo {
  font-family: 'Pokemon';
  color: #fccf00;
  line-height: 0;
  -webkit-text-stroke-width: 0.08rem;
  -webkit-text-stroke-color: #2468b1;
  letter-spacing: 0.1rem; }

/* line 25, static_main/pokenary/base.scss */
.base__menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 32, static_main/pokenary/base.scss */
.base__menu li {
  font-weight: 700;
  color: #71816d;
  margin-right: 5rem;
  cursor: pointer;
  background-color: yellow;
  width: 100%;
  height: 100%; }

/* line 46, static_main/pokenary/base.scss */
.base__menu a {
  text-decoration: none; }

/* line 52, static_main/pokenary/base.scss */
.base__icons ul {
  list-style-type: none;
  display: flex; }

/* line 57, static_main/pokenary/base.scss */
.base__icons li {
  margin-right: 2rem; }

/* line 61, static_main/pokenary/base.scss */
.base__icons a {
  text-decoration: none; }

/* line 65, static_main/pokenary/base.scss */
.base__icons .base__linkedin, .base__icons .base__github {
  height: 2rem;
  cursor: pointer; }

/* line 70, static_main/pokenary/base.scss */
.base__icons .base__linkedin {
  color: #0e76a8; }

/* line 74, static_main/pokenary/base.scss */
.base__icons .base__github {
  color: #ffffff; }
