@font-face {
  font-family: 'Pokemon';
  src: url("/static/fonts/PokemonSolid.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/Roboto-Regular.ttf"); }

/* line 13, static_main/pokenary/main.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto';
  line-height: 0; }

/* line 19, static_main/pokenary/main.scss */
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #2f2235;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 'header' 'content'; }

@keyframes scale-up-3 {
  0%,
  100% {
    transform: scale(1.1) rotatez(45deg); }
  40%,
  90% {
    transform: scale(0.96) rotatez(45deg); }
  30%,
  75% {
    transform: scale(0.9) rotatez(45deg); } }

@keyframes scale-up {
  0%,
  100% {
    transform: scale(1) rotatez(45deg); }
  40%,
  90% {
    transform: scale(0.96) rotatez(45deg); }
  30%,
  75% {
    transform: scale(0.9) rotatez(45deg); } }

@keyframes scale-alternate {
  0%,
  100% {
    transform: scale(1.1) rotatez(45deg); }
  30%,
  90% {
    transform: scale(0.9) rotatez(45deg); }
  45%,
  60% {
    transform: scale(0.96) rotatez(45deg); }
  50%,
  75% {
    transform: scale(0.97) rotatez(45deg); } }

@keyframes particle-up {
  0% {
    top: -.3rem;
    left: -1.3rem; }
  100% {
    position: relative;
    opacity: 0.8;
    top: -2rem;
    left: -.8rem;
    transform: scale(0.1); } }

/* line 78, static_main/pokenary/base.scss */
.base__header {
  width: 100%;
  height: 5rem;
  background-color: #2f2235;
  padding: 0.25rem 1rem;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

/* line 89, static_main/pokenary/base.scss */
.base__logo {
  font-family: 'Pokemon';
  color: #fccf00;
  line-height: 0;
  -webkit-text-stroke-width: 0.08rem;
  -webkit-text-stroke-color: #2468b1;
  letter-spacing: 0.1rem; }

/* line 99, static_main/pokenary/base.scss */
.base__menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; }

/* line 107, static_main/pokenary/base.scss */
.base__menu li {
  font-weight: 700;
  margin: 0 2.5rem 0 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2rem; }

/* line 117, static_main/pokenary/base.scss */
.base__menu li#base__menu-home:hover div#base__fire-box {
  visibility: visible;
  opacity: 1;
  transition: .3s ease-in-out;
  left: 0.6rem;
  transform: scale(1.4); }

/* line 125, static_main/pokenary/base.scss */
.base__menu li#base__menu-home:hover a#base__home-title {
  color: #d43322;
  font-weight: 900;
  transition: .3s ease-in-out;
  transform: scale(1.4); }

/* line 133, static_main/pokenary/base.scss */
.base__menu a {
  text-decoration: none;
  z-index: 7;
  color: #71816d;
  transform: scale(1);
  transition: .3s ease-in-out; }

/* line 143, static_main/pokenary/base.scss */
.base__icons ul {
  list-style-type: none;
  display: flex;
  justify-content: baseline;
  align-items: center; }

/* line 150, static_main/pokenary/base.scss */
.base__icons li {
  margin-right: 2rem; }

/* line 154, static_main/pokenary/base.scss */
.base__icons a {
  text-decoration: none; }

/* line 158, static_main/pokenary/base.scss */
.base__icons .base__linkedin,
.base__icons .base__github {
  height: 2rem;
  cursor: pointer; }

/* line 164, static_main/pokenary/base.scss */
.base__icons .base__linkedin {
  color: #0e76a8; }

/* line 168, static_main/pokenary/base.scss */
.base__icons .base__github {
  color: #ffffff; }

/* line 174, static_main/pokenary/base.scss */
#base__fire-box {
  position: relative;
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  left: 0; }

/* line 183, static_main/pokenary/base.scss */
#base__flame-1 {
  z-index: 6;
  height: 27px;
  width: 27px;
  background: #ff7200;
  position: absolute;
  top: -0.50rem;
  left: -2.31rem;
  border-radius: 0% 50% 70% 50%;
  transform: rotateZ(45deg) scale(1.1);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-alternate 2s ease-in-out infinite; }

/* line 197, static_main/pokenary/base.scss */
#base__flame-1-red {
  z-index: 5;
  height: 30px;
  width: 30px;
  background: #ff1e00;
  position: absolute;
  top: -0.7rem;
  left: -2.4rem;
  border-radius: 0% 50% 70% 50%;
  transform: rotateZ(45deg) scale(1.1);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-alternate 2s ease-in-out infinite; }

/* line 211, static_main/pokenary/base.scss */
#base__flame-2 {
  z-index: 4;
  height: 20px;
  width: 20px;
  background: #ef5a00;
  position: absolute;
  top: -0.4rem;
  left: -3rem;
  border-radius: 0% 40% 60% 40%;
  transform: scaleX(0.8) rotatez(45deg);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-up 2s ease-in-out infinite; }

/* line 225, static_main/pokenary/base.scss */
#base__flame-2-red {
  z-index: 3;
  height: 22px;
  width: 23px;
  background: #ff1e00;
  position: absolute;
  top: -0.51rem;
  left: -3.08rem;
  border-radius: 0% 40% 60% 40%;
  transform: scaleX(0.8) rotatez(45deg);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-up 2s ease-in-out infinite; }

/* line 239, static_main/pokenary/base.scss */
#base__flame-3 {
  z-index: 2;
  height: 23px;
  width: 23px;
  background: #ef5a00;
  position: absolute;
  top: -0.3rem;
  left: -1.3rem;
  border-radius: 0% 40% 60% 40%;
  transform: scaleX(0.8) rotatez(45deg);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-up-3 3s ease-in-out infinite; }

/* line 253, static_main/pokenary/base.scss */
.base__small-element {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #ef5a00;
  position: relative;
  top: -.3rem;
  left: -1.3rem;
  z-index: 5; }

/* line 265, static_main/pokenary/base.scss */
#base__small-element-1 {
  animation: particle-up 3.5s ease-in-out infinite; }

/* line 269, static_main/pokenary/base.scss */
#base__small-element-2 {
  animation: particle-up 2.6s ease-in-out infinite; }

/* line 273, static_main/pokenary/base.scss */
#base__water {
  position: relative;
  left: 400px;
  width: 50px;
  height: 50px;
  background: #29bbff; }
