@font-face {
  font-family: 'Pokemon';
  src: url("/static/fonts/PokemonSolid.ttf"); }

@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/Roboto-Regular.ttf"); }

/* line 13, static_main/pokenary/main.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto';
  line-height: 0; }

/* line 19, static_main/pokenary/main.scss */
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #2f2235;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 'header' 'content'; }

/* line 11, static_main/pokenary/base.scss */
.base__header {
  width: 100%;
  height: 5rem;
  background-color: #2f2235;
  padding: 0.25rem 1rem;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

/* line 22, static_main/pokenary/base.scss */
.base__logo {
  font-family: 'Pokemon';
  color: #fccf00;
  line-height: 0;
  -webkit-text-stroke-width: 0.08rem;
  -webkit-text-stroke-color: #2468b1;
  letter-spacing: 0.1rem; }

/* line 32, static_main/pokenary/base.scss */
.base__menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; }

/* line 40, static_main/pokenary/base.scss */
.base__menu li {
  font-weight: 700;
  margin: 0 2.5rem 0 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .2rem;
  width: 6rem;
  height: 3rem; }

/* line 54, static_main/pokenary/base.scss */
.base__menu a {
  text-decoration: none;
  z-index: 6;
  color: #b1adad; }

/* line 62, static_main/pokenary/base.scss */
.base__icons ul {
  list-style-type: none;
  display: flex;
  justify-content: baseline;
  align-items: center; }

/* line 69, static_main/pokenary/base.scss */
.base__icons li {
  margin-right: 2rem; }

/* line 72, static_main/pokenary/base.scss */
.base__icons a:hover > div.base__firebox {
  visibility: visible; }

/* line 76, static_main/pokenary/base.scss */
.base__icons a {
  text-decoration: none; }

/* line 80, static_main/pokenary/base.scss */
.base__icons .base__linkedin,
.base__icons .base__github {
  height: 2rem;
  cursor: pointer; }

/* line 86, static_main/pokenary/base.scss */
.base__icons .base__linkedin {
  color: #0e76a8; }

/* line 90, static_main/pokenary/base.scss */
.base__icons .base__github {
  color: #ffffff; }

/* line 96, static_main/pokenary/base.scss */
.base__firebox {
  position: relative;
  visibility: hidden; }

/* line 101, static_main/pokenary/base.scss */
#flame-1 {
  z-index: 3;
  height: 30px;
  width: 30px;
  background: #ff7200;
  position: absolute;
  top: -0.65rem;
  left: -2.4rem;
  border-radius: 0% 50% 70% 50%;
  transform: rotateZ(45deg) scale(1.1);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-alternate 2s ease-in-out infinite; }

/* line 115, static_main/pokenary/base.scss */
#flame-2 {
  z-index: 2;
  height: 23px;
  width: 23px;
  background: #ef5a00;
  position: absolute;
  top: -0.4rem;
  left: -3rem;
  border-radius: 0% 40% 60% 40%;
  transform: scaleX(0.8) rotatez(45deg);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-up 2s ease-in-out infinite; }

/* line 129, static_main/pokenary/base.scss */
#flame-3 {
  z-index: 4;
  height: 23px;
  width: 23px;
  background: #ef5a00;
  position: absolute;
  top: -0.3rem;
  left: -1.3rem;
  border-radius: 0% 40% 60% 40%;
  transform: scaleX(0.8) rotatez(45deg);
  filter: drop-shadow(0 0 10px #d43322);
  animation: scale-up-3 3s ease-in-out infinite; }

/* line 143, static_main/pokenary/base.scss */
.small-element {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #ef5a00;
  position: relative;
  top: -.3rem;
  left: -1.3rem;
  z-index: 5; }

/* line 155, static_main/pokenary/base.scss */
#small-element-1 {
  animation: particle-up 3.5s ease-in-out infinite; }

/* line 159, static_main/pokenary/base.scss */
#small-element-2 {
  animation: particle-up 2.6s ease-in-out infinite; }

@keyframes glow {
  0%,
  100% {
    background: #ef5a00; }
  50% {
    background: #ff7800; } }

@keyframes scale-up-3 {
  0%,
  100% {
    transform: scale(1.1) rotatez(45deg); }
  40%,
  90% {
    transform: scale(0.96) rotatez(45deg); }
  30%,
  75% {
    transform: scale(0.9) rotatez(45deg); } }

@keyframes scale-up {
  0%,
  100% {
    transform: scale(1) rotatez(45deg); }
  40%,
  90% {
    transform: scale(0.96) rotatez(45deg); }
  30%,
  75% {
    transform: scale(0.9) rotatez(45deg); } }

@keyframes scale-alternate {
  0%,
  100% {
    transform: scale(1.1) rotatez(45deg); }
  30%,
  90% {
    transform: scale(0.9) rotatez(45deg); }
  45%,
  60% {
    transform: scale(0.96) rotatez(45deg); }
  50%,
  75% {
    transform: scale(0.97) rotatez(45deg); } }

@keyframes particle-up {
  0% {
    top: -.3rem;
    left: -1.3rem; }
  100% {
    position: relative;
    opacity: 0.8;
    top: -2rem;
    left: -.8rem;
    transform: scale(0.1); } }
