@import 'scss/main.scss';

#container {
    min-height: 50rem;
    min-width: 55rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3rem;
}

p {
    color: $primary-font;
}

table {
    border-collapse: separate;
    border-spacing: 0rem;
    overflow: hidden;
    border: .06rem solid $primary-font;
    border-radius: 0.6rem;
}

tr:not(:last-child) td{
    border-bottom: .06rem solid $primary-font;
}

tr td:first-child {
    border-right: .06rem solid $primary-font;
    font-weight: bold;
    text-align: center;
}

tr td {
    padding: 0.5rem;
}

tr td p {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    line-height: normal;
    text-align: justify;
    padding: 0.5rem;
}

tr#container__table-evolutions a {
    text-decoration: none;
    color: #fccf00;
    font-weight: bold;
}

tr#container__table-evolutions a:hover {
    color: #2468b1;
}

tr#container__table-name th {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: .06rem solid $primary-font;
    padding: 1.5rem;
    background-color: #2468b1;
}

th p {
    color: #fccf00;
}

#container__spec-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#container__image-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#container__table {
    min-height: 37.5rem;
    max-width: 37.5rem;
}

.container__turn-favorite {
    padding: 1rem .5rem 1rem .5rem;
    text-decoration: none;
    border: .06rem solid $primary-font;
    color: $primary-font;
    background-color: transparent;
    border-radius: .6rem;
    transition-duration: .3s;
    cursor: pointer;
}

.container__turn-favorite:hover {
    font-weight: bold;
    color: #fccf00;
    border: .06rem solid #2468b1;
    transition-duration: .5s;
    background-color: #2468b1;
    box-shadow: 0.06rem 0.06rem .75rem -.3rem rgba(0,0,0,0.4);
    transform: scale(1.2);
}

#container__show-stars {
    margin-top: 1rem;
}

#container__save {
    margin-left: 1rem;
}

#container__stars-box {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__rating {
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>');
    --value: 1;
    --w: calc(5 * 4rem);
    --x: calc(100% * (var(--value) / 5));
    block-size: 4rem;
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.container__rating::-moz-range-track {
    background: linear-gradient(to right, rgb(255, 217, 0) 0 var(--x), black 0 var(--x));
    block-size: 100%;
    mask: repeat-x left center/4rem var(--star);
    
}

.container__rating::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgb(255, 217, 0) 0 var(--x), black 0 var(--x));
    block-size: 100%;
    mask: repeat-x left center/4rem var(--star);
    -webkit-mask: repeat-x left center/4rem var(--star);
}

.container__rating::-moz-range-thumb {
    height: 4rem;
    opacity: 0;
    width: 4rem;
}
.container__rating::-webkit-slider-thumb {
    height: 4rem;
    opacity: 0;
    width: 4rem;
    -webkit-appearance: none;
}