{% extends "pokenary/base.html" %}
{% load compress %}
{% load static %}

{% block scsslink %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'home/favorites/style.scss' %}" rel="stylesheet" media="screen" />
    {% endcompress %}
{% endblock scsslink %}

{% block jslink %}
    <script src="{% static 'home/favorites/index.js' %}"></script>
{% endblock jslink %}

{% block content %}
    <div id="container">
        {% for entry in data %}
            <table class="container__favorite-box">
                <thead>
                    <tr>
                        <th>Pokémon</th>
                        <th>Stars</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="/{{ entry.pokemon.name }}">
                                <img class="container__favorite-image" src="{{entry.pokemon.url_image}}" alt="{{entry.pokemon.name}}">
                            </a>
                        </td>
                        <td>
                            <form action="{% url 'home:favorites' %}" method="post">
                                {% csrf_token %}

                                <input type="hidden" name="user" value="{{ user.username }}">
                                <input type="hidden" name="pokemon" value="{{ entry.pokemon.name }}">  
                                <input
                                    class="container__rating"
                                    max="5"
                                    oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                                    step="0.2"
                                    style="--value:{{ entry.stars }};"
                                    type="range"
                                    name="stars">
                                <input type="submit" value="Save" id="container__save">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock content %}