{% extends "pokenary/base.html" %}
{% load compress %}
{% load static %}

{% block scsslink %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'home/home.scss' %}" rel="stylesheet" media="screen" />
    {% endcompress %}
{% endblock scsslink %}

{% block jslink %}
    <script src="{% static 'home/home.js' %}"></script>
{% endblock jslink %}

{% block content %}
<div id="container">
    <div class="container__boxes">
        <table id="container__table">
            <thead id="container__table-head">
                <tr>
                    <th>
                        Pokémons
                    </th>
                </tr>
            </thead>
            <tbody id="container__table-body">
                {% for pokemon in page_obj %}
                    <tr>
                        <td onmouseover="setImage(event)" onmouseout="removeImage(event)" name="{{pokemon.name}}">
                            {{ pokemon.name | title }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="container__pagination">
            {% if page_obj.has_previous %}
                <a class="container__page-control" href="?page=1">Primeira</a>
            {% endif %}
            {% if page_obj.has_previous %}
                <a class="container__page-control" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span id="container__current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="container__page-control" href="?page={{ page_obj.next_page_number }}">Próxima</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="container__page-control" href="?page={{ page_obj.paginator.num_pages }}">Última</a>
            {% endif %}
        </div>
    </div>
    <div class="container__boxes">
        <div id="container__image">
            <p id="container__who-is-this-pokemon">??</p>
            {% for pokemon in page_obj %}
                <img class="container__images" id="container__image-{{pokemon.name}}" src="{{ pokemon.url_image }}" alt="Image of Pokémon">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}