{% extends "pokenary/base.html" %}
{% load compress %}
{% load static %}

{% block scsslink %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/home.scss' %}" rel="stylesheet" media="screen" />
    {% endcompress %}
{% endblock scsslink %}

{% block jslink %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock jslink %}

{% block content %}
<div id="container">
    <div class="container__boxes">
        <table id="container__table">
            <thead id="container__table-head">
                <tr>
                    <th colspan="2">
                        Pokémons
                    </th>
                </tr>
            </thead>
            <tbody id="container__table-body">
                {% for pokemon in page_obj %}
                <tr>
                    <td onclick="toggleImage('{{pokemon.name}}')" name="{{pokemon.name}}">
                        <p name="{{pokemon.name}}">
                            {{ pokemon.name | title }}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="container__pagination">
            {% if page_obj.has_previous %}
                <a class="container__page-control" href="?page=1">First</a>
            {% endif %}
            {% if page_obj.has_previous %}
                <a class="container__page-control" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span id="container__current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a class="container__page-control" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="container__page-control" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
    </div>
    <div class="container__boxes">
        <div id="container__image">
            <p id="container__who-is-this-pokemon">??</p>
            <p id="container__hover-to-see">Click a Pokémon name</p>
            {% for pokemon in page_obj %}
                <div class="container__box-pokemon" id="container__box-pokemon-{{pokemon.name}}">
                    <img class="container__images" name="pokemon" id="container__image-{{pokemon.name}}" src="{{ pokemon.url_image }}" alt="Image of Pokémon">
                    <a class="container__details" id="container__details-{{pokemon.name}}" href="/{{pokemon.name}}">See details</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}