{% extends "pokenary/base.html" %}
{% load compress %}
{% load static %}

{% block scsslink %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'home/pokemon/style.scss' %}" rel="stylesheet" media="screen" />
    {% endcompress %}
{% endblock scsslink %}

{% block jslink %}
    <script src="{% static 'home/pokemon/index.js' %}"></script>
{% endblock jslink %}

{% block content %}
    <div id="container">
        <div id="container__image-box">
            <img src="{{url_image}}" alt="{{name}}">
        </div>
        <div id="container__spec-box">
            <table id="container__table">
                <thead>
                    <tr id="container__table-name">
                        <th colspan="2">
                            <p>
                                {{ name | title }}
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="container__table-abilities">
                        <td>
                            <p>
                                Abilities
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ abilities }}
                            </p>
                        </td>
                    </tr>
                    <tr id="container__table-moves">
                        <td>
                            <p>
                                Moves
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ moves }}
                            </p>
                        </td>
                    </tr>
                    <tr id="container__table-types">
                        <td>
                            <p>
                                Types
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ types }}
                            </p>
                        </td>
                    </tr>
                    <tr id="container__table-weight">
                        <td>
                            <p>
                                Weight
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ weight }}
                            </p>
                        </td>
                    </tr>
                    <tr id="container__table-height">
                        <td>
                            <p>
                                height
                            </p>
                        </td>
                        <td>
                            <p>
                                {{ height }}
                            </p>
                        </td>
                    </tr>
                    <tr id="container__table-evolutions">
                        <td>
                            <p>
                                Evolutions
                            </p>
                        </td>
                        <td>
                            <p>
                                {% if evolutions %}
                                    {% for evolution in evolutions_list %}
                                        {% if forloop.last %}
                                            <a href="/{{evolution}}">{{ evolution | title}}</a>.
                                        {% else %}
                                            <a href="/{{evolution}}">{{ evolution | title}}</a>,&nbsp;
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    There are no evolutions for this Pokémon...
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if user.is_authenticated %}
            <form action="{% url 'home:favorites' %}" method="post">
                {% csrf_token %}

                <input type="hidden" name="user" value="{{ user.username }}">
                <input type="hidden" name="pokemon" value="{{ name }}">        

                <button type="button" class="container__turn-favorite" id="container__show-stars" onclick="showStars()">Favorite</button>
                <div id="container__stars-box" onclick="hideStars()">
                    <input
                        class="container__rating"
                        max="5.0"
                        oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                        step="0.2"
                        style="--value:0;"
                        type="range"
                        name="stars"
                        value="0.0"
                        onclick="event.stopPropagation()">
                    <input type="submit" class="container__turn-favorite" id="container__save" value="Save">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}