@font-face {
  font-family: 'Pokemon';
  src: url("/static/fonts/PokemonSolid.ttf?a43fc1cfd6d3"); }

@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/Roboto-Regular.ttf?a43fc1cfd6d3"); }

/* line 13, static/scss/main.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto';
  line-height: 0; }

/* line 19, static/scss/main.scss */
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 'header' 'content'; }

/* line 3, home/static/scss/home.scss */
table {
  border: 0.06rem solid #fff;
  border-radius: 0.6rem;
  border-spacing: 0rem; }

/* line 9, home/static/scss/home.scss */
td {
  border-top: 0.06rem solid #fff;
  transition-duration: 0.3s; }

/* line 14, home/static/scss/home.scss */
td a {
  text-decoration: none;
  color: #fff; }

/* line 19, home/static/scss/home.scss */
td:hover {
  font-weight: bold;
  transform: scale(1.2);
  transition-duration: 0.5s;
  color: #fccf00;
  border: none;
  border-radius: .3rem;
  background-color: #2468b1;
  box-shadow: 0.06rem 0.06rem 0.75rem -0.3rem rgba(0, 0, 0, 0.4); }

/* line 30, home/static/scss/home.scss */
#container {
  width: 100vw;
  min-height: 37.5rem;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100%;
  margin-top: 7rem; }

/* line 39, home/static/scss/home.scss */
#container__table {
  min-width: 37.5rem;
  color: #fff; }

/* line 44, home/static/scss/home.scss */
#container__table-head tr {
  height: 2.5rem;
  font-size: 1.3rem; }

/* line 49, home/static/scss/home.scss */
#container__table-head th {
  background-color: #2468b1;
  color: #fccf00;
  border-top-left-radius: .6rem;
  border-top-right-radius: .6rem; }

/* line 56, home/static/scss/home.scss */
#container__table-body tr {
  text-align: center;
  height: 1.875rem; }

/* line 61, home/static/scss/home.scss */
.container__images {
  position: relative;
  display: none;
  animation: pokemon-appears .8s ease-in-out; }

/* line 67, home/static/scss/home.scss */
#container__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* line 74, home/static/scss/home.scss */
#container__who-is-this-pokemon {
  display: block;
  color: #fff;
  font-size: 4rem;
  font-weight: bold; }

/* line 81, home/static/scss/home.scss */
#container__hover-to-see {
  display: block;
  color: #fff;
  font-size: 1rem;
  font-weight: bold; }

/* line 88, home/static/scss/home.scss */
.container__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* line 95, home/static/scss/home.scss */
#container__pagination {
  margin-top: 1rem;
  height: 2rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem; }

/* line 105, home/static/scss/home.scss */
.container__page-control {
  color: #fff;
  padding: 1rem;
  border: 0.06rem solid #fff;
  border-radius: .6rem;
  margin-left: .3rem;
  margin-right: .3rem;
  text-decoration: none;
  transition-duration: .3s; }

/* line 116, home/static/scss/home.scss */
.container__page-control:hover {
  font-weight: bold;
  color: #fccf00;
  border: .06rem solid #2468b1;
  transition-duration: .5s;
  background-color: #2468b1;
  box-shadow: 0.06rem 0.06rem 0.75rem -0.3rem rgba(0, 0, 0, 0.4); }

/* line 125, home/static/scss/home.scss */
#container__current {
  color: #fff; }

@keyframes pokemon-appears {
  0% {
    right: -12.5rem;
    display: none;
    opacity: 0; }
  1% {
    display: block; }
  100% {
    right: 0rem;
    opacity: 1; } }
