@font-face {
  font-family: 'Pokemon';
  src: url("/static/fonts/PokemonSolid.ttf?3b54c3db12d9"); }

@font-face {
  font-family: 'Roboto';
  src: url("/static/fonts/Roboto-Regular.ttf?3b54c3db12d9"); }

/* line 13, static/scss/main.scss */
* {
  box-sizing: border-box;
  font-family: 'Roboto';
  line-height: 0; }

/* line 19, static/scss/main.scss */
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: 'header' 'content'; }

/* line 3, static/scss/login.scss */
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  color: #fff; }

/* line 12, static/scss/login.scss */
#container p {
  font-weight: bold;
  margin-bottom: 1.5rem; }

/* line 17, static/scss/login.scss */
#container a {
  text-decoration: none;
  color: #fccf00;
  font-weight: bold;
  margin-top: 1.5rem;
  transition-duration: .3s; }

/* line 25, static/scss/login.scss */
#container a:hover {
  transform: scale(1.2);
  transition-duration: .5s; }

/* line 30, static/scss/login.scss */
form {
  display: flex;
  flex-direction: column;
  border: 0.06rem solid #fff;
  border-radius: .6rem;
  padding: 2rem; }

/* line 39, static/scss/login.scss */
.container__form-row {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

/* line 47, static/scss/login.scss */
.container__form-row input {
  border: 0.06rem solid #fff;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  outline: none;
  border-radius: .6rem;
  padding-left: .5rem;
  height: 1.8rem;
  margin-top: .8rem; }

/* line 59, static/scss/login.scss */
.container__form-row label {
  font-weight: bold; }

/* line 63, static/scss/login.scss */
form input[type=submit] {
  height: 2.5rem;
  border: 0.06rem solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: .6rem;
  cursor: pointer;
  margin-top: 1rem;
  transition-duration: .3s; }

/* line 74, static/scss/login.scss */
form input[type=submit]:hover {
  font-weight: bold;
  color: #fccf00;
  border: .06rem solid #2468b1;
  transition-duration: .5s;
  background-color: #2468b1;
  box-shadow: 0.06rem 0.06rem 0.75rem -0.3rem rgba(0, 0, 0, 0.4);
  transform: scale(1.2); }
