@import 'pokenary/main.scss';

#container {
    min-height: 50rem;
    min-width: 55rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3rem;
}

p {
    color: $primary-font;
}

table {
    border-collapse: separate;
    border-spacing: 0rem;
    overflow: hidden;
    border: .06rem solid $primary-font;
    border-radius: 0.6rem;
}

tr:not(:last-child) td{
    border-bottom: .06rem solid $primary-font;
}

tr td:first-child {
    border-right: .06rem solid $primary-font;
    font-weight: bold;
    text-align: center;
}

tr td {
    padding: 0.5rem;
}

tr td p {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    line-height: normal;
    text-align: justify;
    padding: 0.5rem;
}

tr#container__table-evolutions a {
    text-decoration: none;
    color: #fccf00;
    font-weight: bold;
}

tr#container__table-evolutions a:hover {
    color: #2468b1;
}

tr#container__table-name th {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: .06rem solid $primary-font;
    padding: 1.5rem;
    background-color: #2468b1;
}

th p {
    color: #fccf00;
}

#container__spec-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#container__image-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#container__table {
    min-height: 37.5rem;
    max-width: 37.5rem;
}

#container__turn-favorite {
    padding: 1rem .5rem 1rem .5rem;
    text-decoration: none;
    border: .06rem solid $primary-font;
    color: $primary-font;
    background-color: transparent;
    border-radius: .6rem;
    margin-top: 1rem;
    transition-duration: .3s;
    cursor: pointer;
}

#container__turn-favorite:hover {
    font-weight: bold;
    color: #fccf00;
    border: .06rem solid #2468b1;
    transition-duration: .5s;
    background-color: #2468b1;
    box-shadow: 0.06rem 0.06rem .75rem -.3rem rgba(0,0,0,0.4);
    transform: scale(1.2);
}