@import 'scss/main.scss';

table {
    border: .06rem solid $primary-font;
    border-radius: 0.6rem;
    border-spacing: 0rem;
}

td {
    border-top: .06rem solid $primary-font;
    transition-duration: 0.3s;
}

td p {
    color: $primary-font;
    cursor: default;
}

td:hover {
    font-weight: bold;
    transform: scale(1.2);
    transition-duration: 0.5s;
    color: #fccf00;
    border: none;
    border-radius: .3rem;
    background-color: #2468b1;
    box-shadow: 0.06rem 0.06rem .75rem -.3rem rgba(0,0,0,0.4);
}

#container {
    width: 100vw;
    min-height: 37.5rem;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100%;
    margin-top: 7rem;
}

#container__table {
    min-width: 37.5rem;
    color: $primary-font;
}

#container__table-head tr {
    height: 2.5rem;
    font-size: 1.3rem;
}

#container__table-head th {
    background-color: #2468b1;
    color: #fccf00;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
}

.container__details {
    margin-top: 20px;
    display: block;
    text-decoration: none;
    color: #fccf00;
    width: fit-content;
    line-height: none;
    font-weight: bold;
}

#container__table-body tr {
    text-align: center;
    height: 1.875rem;
}

.container__images {
    position: relative;
    display: block;
    // animation: pokemon-appears .8s ease-in-out;
}

#container__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__box-pokemon {
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#container__who-is-this-pokemon {
    display: block;
    color: $primary-font;
    font-size: 4rem;
    font-weight: bold;
}

#container__hover-to-see {
    display: block;
    color: $primary-font;
    font-size: 1rem;
    font-weight: bold;
}

.container__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container__pagination {
    margin-top: 1rem;
    height: 2rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.container__page-control {
    color: $primary-font;
    padding: 1rem;
    border: .06rem solid $primary-font;
    border-radius: .6rem;
    margin-left: .3rem;
    margin-right: .3rem;
    text-decoration: none;
    transition-duration: .3s;
}

.container__page-control:hover {
    font-weight: bold;
    color: #fccf00;
    border: .06rem solid #2468b1;
    transition-duration: .5s;
    background-color: #2468b1;
    box-shadow: 0.06rem 0.06rem .75rem -.3rem rgba(0,0,0,0.4);
}

#container__current {
    color: $primary-font;
}

@keyframes pokemon-appears {
    0% {
        right: -12.5rem;
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        right: 0rem;
        opacity: 1;
    }
    
}