@import 'pokenary/main.scss';

#container {
    min-height: 50rem;
    min-width: 55rem;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3rem;
}

p {
    color: $primary-font;
}

table {
    border: .06rem solid $primary-font;
    border-radius: 0.6rem;
    border-spacing: 0.5rem;
    border-collapse: separate; 
}

tr {
    border: .06rem solid $primary-font;
    border-radius: 0.6rem;
}

#container__spec-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#container__image-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#container__table {
    min-height: 37.5rem;
    max-width: 37.5rem;
}